html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #111618;
}
.wrapper{
  min-height: 100vh;
}
header {
  background-color: #199C77;
  color: #fff;
  display: flex;
}
header .logo img{
  width: 200px;
  padding: 10px 0
}
.navbar {
  display: flex;
  list-style: none;
}
.navbar-item {
  text-align: center;
}
.nav-link{
  color: #fff;
  padding-left: .75rem;
  padding-right: .75rem;
  text-decoration: none;
}
main {
  background-color: #111618;

}
main .container{
  background-color: #111618;
  color: #fff;
  padding-top: 6vh;
  padding-left: 30vh;
  padding-right: 30vh;
  padding-bottom: 6vh;
}
main .widget-container{
  background: rgb(37, 47, 55);
  border-radius: 2px;
  border-top: 3px solid #199C77;
  box-shadow: 0 5px 10px 2px rgba(29,41,44,.23);
  font-size: 1rem;
}

main .widget-header{
  background-color: hsla(0,0%,100%,.075);
  padding: 14px 16px;
}

main .widget-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .025em;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

main .card{
  height: 18px;
  font-size: 16px;
  padding: 14px 16px;
}

main .card a{
  color: #fff;
  text-decoration: none;
}
footer{
  background-color: rgb(37, 47, 55);
  border-top: 3px solid #199C77;
  position: sticky;
  text-align: center;
  width: 100%;
  top: 100vh;
}
footer .info{
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  color: #fff;
}
footer .copyright {
  background-color: #212a31;
  color: #fff;
}
