html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #111618;
}
.wrapper{
  min-height: 100vh;
}
header {
  background-color: #199C77;
  color: #fff;
  display: flex;
}
header .logo img{
  width: 200px;
  padding: 10px 0
}
header .logo{
  margin-left: 40px;
}
.navbar {
  display: flex;
  list-style: none;
}
.navbar-item {
  text-align: center;
}
.nav-link{
  color: #fff;
  padding-left: .75rem;
  padding-right: .75rem;
  text-decoration: none;
}
main {
  background-color: #111618;

}
main .container{
  background-color: #111618;
  color: #fff;
  padding-top: 6vh;
  padding-left: 30vh;
  padding-right: 30vh;
  padding-bottom: 6vh;
}
main .widget-container{
  display: flex;
  flex-direction: column;
  background: rgb(37, 47, 55);
  border-radius: 2px;
  border-top: 3px solid #199C77;
  box-shadow: 0 5px 10px 2px rgba(29,41,44,.23);
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

main .widget-header{
  background-color: hsla(0,0%,100%,.075);
  padding: 14px 16px;
}

main .widget-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .025em;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

main .card{
  height: 18px;
  font-size: 16px;
  padding: 14px 16px;
}

main .card a{
  color: #fff;
  text-decoration: none;
}

main .container-login{
  background-color: #111618;
  color: #fff;
  padding-top: 6vh;
  padding-left: 60vh;
  padding-right: 60vh;
  padding-bottom: 6vh;
}

main .form-labeled-input{
  padding-bottom: 1em;
}

main .widget-body {
    color: #fff;
    padding: 16px;
}

main .form-label-simple {
    font-size: 14px;
    letter-spacing: .4px;
    line-height: normal;
}

main .form-labeled-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
    box-sizing: border-box;
}

main .form-control {
    background-color: #1e262c;
    border-color: hsla(0,0%,100%,.13);
    color: #fff;
    width: 100%;
    height: 30px;
    border-radius: .25rem;
}

.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex-auto {
    flex: 1 1 auto;
}
.flex {
    display: flex;
}

.btn {
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:hover{
  background-color: hsl(206.7, 4.4%, 39.8%);
}
.btn-default {
    background: none;
    border-color: hsla(0,0%,100%,.13) !important;
    color: #fff;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.widget-container a {
    text-decoration: none;
    color: #199673;
    margin: 0px 10px;
}

footer{
  background-color: rgb(37, 47, 55);
  border-top: 3px solid #199C77;
  position: sticky;
  text-align: center;
  width: 100%;
  top: 100vh;
}
footer .info{
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  color: #fff;
}
footer .copyright {
  background-color: #212a31;
  color: #fff;
}
